/*general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans', sans-serif;
}
/* .debug{
    border: 1px solid black;
} */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.sb-flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.nw-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.container .nw-flex{
    padding: 5%;
}

ul{
    list-style: none;
    color: white;
    padding: 10px 0px;
}

li{
    padding: 0px 10px 0px 0px;
    font-size: 0.9em;
}
/*header*/
header{
    margin-bottom: 50px;
}
.fixed{
    background-color: #ff6900;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
}
nav{
    padding: 10px;
}
.logo-container{
    max-width: 10%;
    min-width: 100px;
}
.logo-container img{
    width: 100%;
}
/*main*/
.nw-flex .cards{
    width: calc(100% / 3);
    min-width: 300px;
    padding: 0px 8px 30px;
}
.cards img{
    width: 100%;
}
.img2{
    display: none;
}
.cards:hover .img1{
    display: none;
}
.cards:hover .img2{
    display: inline-block;
}
.marca{
    font-size: 0.8em;
}
.abiti{
    font-weight: 900;
}
.discounted{
    color: red;
    font-weight: 900;
    font-size: 0.9em;
}
.full-price{
    text-decoration: line-through;
    color: black;
}
.img-container{
    position: relative;
}
.icon-wrapper{
    position: absolute;
    bottom: 8%;
    left: 0;
}
.discount{
    background-color: red;
    padding: 2px 10px;
    color: white;
    font-size: 0.7em;
    display: inline-block;
}
.sostenibilità{
    background-color: green;
    padding: 2px 10px;
    color: white;
    font-size: 0.7em;
    display: inline-block;
}
/*footer*/
footer{
    background-color: #1a1a1a;
}
.footer-section{
    padding: 25px 10px;
    color: white;
    display: inline-block;
}
footer li{
    font-size: 0.8em;
    padding: 0px 7px 0px 0px;
}
ul.social{
    padding-top: 5px;
}
footer .social li{
    font-size: 1.3em;
    padding: 0px 12px 0px 0px;
}
.coda{
    font-size: 0.9em;
}
